.grid {
    width: 350px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    background-color: #171738;
}

.grid div {
    width: 35px;
    height: 35px;
    /* border-width:0.3px;
    border-style: solid;
    border-color: black; */
}

#scoreboard {
    font-family: "PT Sans"; 
}

#start-button {
    height: 50px;
    width: 175px;
    margin-bottom: 40px;
    font-family: "PT Sans"; 
    font-size: 18px;
}

.pieceCell {
    background-color: #8ef9f3;
}