.grid {
    width: 250px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #171738;
}

.grid div {
    width: 25px;
    height: 25px;
    /* border-width:0.3px;
    border-style: solid;
    border-color: black; */
}

#scoreboard {
    font-family: "PT Sans"; 
}

#start-button {
    margin-bottom: 20px;
    font-family: "PT Sans"; 
    font-size: 14px;
}

.piece {
    background-color: #8ef9f3;
}