#grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #171738;
}

#grid div {
    width: 20px;
    height: 20px;
    background-color: #8ef9f3;
    /* 
    figure out how to add a border
    border-width:0.3px;
    border-style: solid;
    border-color: black; */
}